.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  color: white;
}
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.dot {
  width: 10px;
  height: 5px;
  @apply rounded-lg;
  background-color: #fff;
  cursor: pointer;
}
.active {
  @apply bg-primary;
}
/* Thanh chứa tiến trình */
.progressBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Độ dày của thanh */
  background-color: rgba(255, 255, 255, 0.2); /* Màu nền */
  overflow: hidden;
}

/* Thanh tiến trình thực tế */
.progressBar {
  height: 100%;
  background-color: #ff4500; /* Màu của thanh tiến trình */
  transition: width 0.1s linear; /* Hiệu ứng chuyển động */
}
.slide::before {
  top:0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  opacity: 0.5;
  box-shadow: inset 0 100px 100px #000;
}
.slide {
  animation: fade 1.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  @apply justify-around;
  /* animation: slide 0.6s ease-in-out; */
  flex-wrap: wrap;
}
.circle {
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  @apply rounded-full;
}
.circle::before {
  content:'';
  position: absolute;
  z-index:1;
  background-color: hsl(var(--primary));
  width: 300px;
  height: 300px;
  opacity: 0.7;
  @apply rounded-full;
}
.circle::after {
  position: absolute;
  content: '';
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  opacity: 0.5;
  width: 500px;
  height: 500px;
  @apply rounded-full;
}
.circle img {
  z-index: 2;
  animation: rotate180 0.6s ease-in-out;
  @apply rounded-full;
  width: 250px;
  height: 250px;
}
.info {
  padding: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.info h3 {
  white-space: nowrap !important;
  max-width: 700px !important;  /* Đặt chiều rộng tối đa của phần tử */
  overflow: hidden !important;  /* Ẩn phần nội dung tràn ra ngoài */
  text-overflow: ellipsis !important; /* Hiển thị dấu ba chấm khi văn bản bị cắt */
}
.info .des {
  max-width: 700px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
/* Điều chỉnh cho màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .info h3, .info .des {
    max-width: 500px !important; /* Đặt max-width là 350px khi màn hình nhỏ hơn 768px */
  }
}
@media (max-width: 567px) {
  .info h3, .info .des {
    max-width: 350px !important; /* Đặt max-width là 350px khi màn hình nhỏ hơn 768px */
  }
}
.genres {
  display: flex;
  flex-wrap: wrap;
  @apply my-3;
  gap: 10px;
}
/* @keyframes slide {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
} */
@keyframes rotate180 {
  from {
    transform: rotate(90deg); /* Bắt đầu từ 0 độ */
  }
  to {
    transform: rotate(0deg); /* Xoay tới 360 độ */
  }
}

@keyframes fade {
  from {
    opacity: 0.5
  }
  to {
    opacity: 1
  }
}
